@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-1: blue;
    --color-2: yellow;
    --color-3: green;
    --color-4: red;
    --color-5: orange;
}

h1 {
    color:black;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.common-heading {
    font-size: 30px;
    font-weight: 600;
}

.common-title {
    margin-bottom: 50px;
}

/* Hero section styling */

.hero-section .container {
    display: flex;
    height: 80vh;
    justify-self: center;
    align-items: center;
}

.bg-main {
    position: relative;
    background-image: url('./IMAGES/back1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-color {
    background-color: rgb(0, 0, 0);
}

.bg-main .avoid{
    backdrop-filter: blur(2px);
}

.bg-main .btn{
    background-color: rgb(83 47 84);
}

.bg-main .btn:hover{ 
    background: transparent;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}
/* Shape divider app/website used here (52-72)*/
.custom-shape-divider-bottom-1695494581 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1695494581 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1695494581 .shape-fill {
    fill: #FFFFFF;
}

/* Service Section */
.service-section {
    padding: 40px 0 30px 0;
}

.icon-back {
    background-color: var(--color-1);
    color: white;
    width: 40px;
    height: 40px;
}

.card-box:hover {
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px 0px;

}

/* ACHIEVEMENT SECTION */
.img-section {
    padding: 50px 0px 10px 0px;
    text-align: center;
}

.achievement {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('./IMAGES/img5.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.achievement .btn{
    background-color: rgb(83 47 84);
}

.achievement .btn:hover{ 
    background: transparent;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}


/* CONTACT US */
.contact .common-title {
    padding-top: 40px;
}

.form-section {
    width: 50%;
}



/* RESPONSIVENESS OF THE WEBSITE */
@media screen and (max-width:991px) {

    .hero-section {
        padding-bottom: 50px;
    }

    .hero-section .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .achievement {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:585px) {
    .img-section img {
        width: 75%;
        display: block;
        margin: auto;
    }

    .text-center {
        margin: auto;
    }

}


@media screen and (max-width:480px) {
    .img-section img {
        width: 75%;
        display: block;
        margin: auto;
    }
    .text-center video{
        width: 75%;
    }
}